.navbar{ 
        position: fixed;
        width: 100%;
        opacity: 0.7;
        height: 10vh;
        margin: 2px;
}
.logo{
        width: 100px;
        height: 8vh;   
}
.img1{
        width: 100%;
        height: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link{
        color: rgb(255, 255, 255);
}

header{
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(DSC_0084.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        font-size: 30px;
        color: rgb(255, 255, 255);    
}
.pp1 span{
        font-size: 35px;
        color: gold;
        font-weight: 900;
}
.pp2 span{
        font-size: 35px;
        color: gold;
        font-weight: 900;
}
.Homee{
        padding: 20vh 50vh 70vh 0vh;
    
}
.Homee a{
        background-color: gold;
        padding: 10px 18px;
        font-weight: 900;
        color: black;
        display: inline-block;
        border-radius: 10vh;
        text-decoration: 0;
        font-size: 10px
}
.res{
        font-size: 10px
}
.Thems{
        position: absolute;
        top: 25rem;
        display: flex;
        flex-direction: row;
}
.lin a{
        color: rgb(255, 255, 255);
}
.lin:hover a{
        color: gold;
}
.Thems .fa-brands{
        padding: 10px;
        font-size: 30px;
}
.Thems .fa-solid{
        font-size: 30px;
        padding: 10px;
}
#experience{
        justify-content: center;
        background-color: gold;
        text-align: center;
        box-shadow: 100px black;
        margin-top: 25px;
}
.expp{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
 } 
 .qadomy, .extensya, .Orange{
        text-align: center;
        gap: 10px;
        background-color: rgb(255, 255, 255);
        margin: 10px;
        max-width: 350px;
 }
.expp img{
        width: 100%;
        height: 300px;
        transition: 3s;
 } 
.qadomy:hover img{
        transform: scale(1);
        z-index: 2;
        border-radius: 100px;
}
.extensya:hover img{
        transform: scale(1);
        z-index: 2;
        border-radius: 100px;
}
.Orange:hover img{
        transform: scale(1);
        z-index: 2;
        border-radius: 100px;
 } 
#experience p{
        margin: 15px;
        color: rgb(0, 0, 0);
        text-align: center;
        width: auto;
} 
#Projects{
        justify-content: center;
        background-color: gold;
        text-align: center;
        box-shadow: 100px black;
        margin-top: 25px;
}
.pro{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
}
.aoq, .htss, .port{
        text-align: center;
        gap: 10px;
        background-color: rgb(99, 91, 91);
        margin: 10px;
        max-width: 350px;
}
.pro img{
        width: 100%;
        height: 300px;
        transition: 3s;
} 
.aoq:hover img{
    transform: scale(1);
    z-index: 2;
    border-radius: 100px;
}
.htss:hover img{
    transform: scale(1);
    z-index: 2;
    border-radius: 100px;
}
.port:hover img{
    transform: scale(1);
    z-index: 2;
    border-radius: 100px;
}
#Projects p{
        margin: 15px;
        color: rgb(255, 255, 255);
        text-align: center;
        width: auto;
        transition: 3s;
}
#Skills{
        text-align: center;
        background-color: gold;
        box-shadow: 100px black;
        margin-top: 25px;
}
.skl{ 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 50px;
        text-align: center;
        height: 40%;
}
.skl img{
        width: 400px;
        height: 150px;
        border-radius: 150vh; 
        transition: 3s;
}
.H5:hover img{
    transform: scale(1.3);
    z-index: 2;
    border-radius: 100px;
    width: 300px;
}
.C3:hover img{
    transform: scale(1.6);
    z-index: 2;
    border-radius: 100px;
    width: 300px;
}
.JS:hover img{
    transform: scale(1.4);
    z-index: 2;
    border-radius: 100px;
    width: 300px;
}
.TM:hover img{
    transform: scale(1.4);
    z-index: 2;
    border-radius: 100px;
    width: 300px;
}
.FP:hover img{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 100px;
    width: 300px;
}
.CT:hover img{
    transform: scale(1.1);
    z-index: 2;
    border-radius: 100px;
    width: 300px;
}
.skl p{
        font-size: 60px;
        font-weight: 800;
}
#About{
        margin-top: 25px;
        display: flex;
        flex-direction: row-reverse;
        background-color: gold;
}
#About img{
        width: 70vh;
        height: 58vh;
        justify-content: right;
        text-align: right;
}
.mee p{
        width: 70%;
        flex-wrap: wrap;
        justify-content: left;
        text-align: left;
}
.mee{
        margin: 15px;
}
#Contact{
        background-color: rgb(44, 42, 42);
        color: white;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px ;
        bottom: 0;
        margin-top: 1px;
        margin-bottom: 25px;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
.link{
        display: flex;
        flex-direction: row;  
}
.link a{
        color: white;
}
.link:hover a{
        color: gold;
}
.fa-brands{
        font-size: 20px;
}
.fa-solid{
        font-size: 20px;
}
.copy img{
        width: 264.71px;
        height:180px;
}
.map{
        justify-content: right;
}
.back{
        background-color: rgb(58, 58, 49);
        font-weight: 900;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
}
.back:hover{
        background-color: rgb(113, 105, 105);
        font-weight: 900;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
}
.back a{
        text-decoration: 0;
        color: gold;
}
.back:hover a{
        text-decoration: 0;
        color: rgb(0, 0, 0);
}
@media screen and (max-width: 426px){
        .navbar {
                /* position: fixed; */
                width: 89%;
            }
        header {
                background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(DSC_0084.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
                display: flex;
                font-size: 25px;
                color: rgb(255, 255, 255);
            }
            .pp1 span {
                font-size: 30px;
                color: gold;
                /* font-weight: 500; */
            }
            .pp2 span {
                font-size: 30px;
                color: gold;
                /* font-weight: 500; */
            }
            .Thems {
                position: absolute;
                top: 32rem;
                display: flex;
                flex-direction: row;
                left: 1rem;
            }
            .res {
                font-size: 10px;
                position: absolute;
                margin-left: 289px;
                margin-top: 145px;
            }
            #experience {
                justify-content: center;
                background-color: gold;
                text-align: center;
                margin-top: -195px;
            }
            .expp {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 30px;
                margin: 10px;
                gap: 20px;
            }
            .pro {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 30px;
                margin: 10px;
                gap: 20px;
            }
            .skl {
                display: flex;
                justify-content: center;
                align-content: stretch;
                flex-direction: column-reverse;
            }
            #About {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                background-color: gold;
            }
            #About img {
                width: 425.6px;
                height: 465.6px;
                justify-content: right;
            }
            .mee p {
                width: 100%;
                padding: 5px;
            }
            #Contact {
                background-color: rgb(44, 42, 42);
                color: white;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 50px;
                bottom: 0;
                margin-top: 1px;
            }
            .links {
                display: flex;
                flex-direction: row;
                gap: 35px;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }

}